# True for development mode, False for production 
DEBUG=

# URL to database if DEBUG=False, ignored if DEBUG=True (SQLite as alternative)
DB_URL=

SECRET_KEY=

# separate each host domain with comma
ALLOWED_HOSTS=https://your-domain.example.com,http://127.0.0.1:8080

DJANGO_SUPERUSER_PHONE_NUMBER=08123456789
DJANGO_SUPERUSER_PASSWORD=password123
DJANGO_SUPERUSER_EMAIL=admin@example.com

USER_DEFAULT_PASSWORD=password123