# True for development mode, but can occassionally set to False for testing before deployment
# Never set this to True for production mode
DEBUG=True

# URL to database if DEBUG=False, ignored if DEBUG=True (SQLite as alternative)
DB_URL=

# For production mode, please regenerate the secret key and keep it secret
SECRET_KEY=django-insecure-p$5b15lq9!wf=npp&^s$n_qlof11mhp93p)wcwr@pg7!he2v99

# Allow finite amount of allowed hosts by listing the hosts, separated by comma(s), without any space
# e.g. http://127.0.0.1:8000,http://localhost:8000
# * implies all hosts are allowed
ALLOWED_HOSTS=*

# These variables are necessary as default credentials in superuser creation
DJANGO_SUPERUSER_PHONE_NUMBER=08123456789
DJANGO_SUPERUSER_PASSWORD=password123
DJANGO_SUPERUSER_EMAIL=admin@example.com

# Initial / default password new accounts have
USER_DEFAULT_PASSWORD=password123